[MASTER]
ignore=__pycache__,venv,.venv,env,ENV,build,dist,*.egg-info
persistent=yes
jobs=1

[MESSAGES CONTROL]
disable=
    missing-docstring,
    too-few-public-methods,
    too-many-arguments,
    too-many-instance-attributes,
    too-many-locals,
    too-many-branches,
    too-many-statements,
    line-too-long,
    invalid-name,
    broad-except,
    unused-argument,
    redefined-outer-name

[FORMAT]
max-line-length=120
indent-string='    '

[BASIC]
good-names=i,j,k,e,f,_,df,ax,id,logger,config

[DESIGN]
max-attributes=15
max-args=10
